<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tạo mới</title>
</head>
<body>
<h1>Tạo mới Sổ Tiết Kiệm</h1>
<br>
<br>
<form method="post" th:object="${soTietKiemDTO}">
    <table>
        <tr>
            <th>Thời Gian gửi :</th>
            <td><input type="date" th:field="*{thoiGianBatDauGui}"></td>
            <td style="color: red" th:errors="*{thoiGianBatDauGui}"></td>
        </tr>
        <tr>
            <th>Kỳ Hạn :</th>
            <td><input type="text" th:field="*{kyHan}"></td>
            <td style="color: red" th:errors="*{kyHan}"></td>
        </tr>
        <tr>
            <th>Số Tiền :</th>
            <td><input type="text" th:field="*{soTienGui}"></td>
            <td style="color: red" th:errors="*{soTienGui}"></td>
        </tr>
        <tr>
            <th>Khách Hàng :</th>
            <td>
                <input type="text" th:field="*{khachHangDTO.tenKhachHang}">
            </td>
            <td style="color: red" th:errors="*{khachHangDTO.tenKhachHang}"></td>
        </tr>
        <tr>
            <td><a href="/so-tiet-kiem">Huỷ</a></td>
            <td><input type="submit" value="Tạo mới"></td>
        </tr>
    </table>
</form>
</body>
</html>