<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <th:block th:replace="~{/layout::linkBootStrap}"></th:block>
    <style th:replace="~{/layout::style}"></style>
</head>
<body>
<div class="row">
    <div th:replace="~{/index::navigationBar}"></div>
</div>
<div class="container-fluid">
        <div class="row">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:if="${views.hasPrevious()}"
                       th:href="@{/customer/use-services(page=${views.number - 1})}">Previous</a>
                </li>
                <li class="page-item"><a class="page-link text-dark" th:text="${views.number + 1}"></a></li>
                <li class="page-item"><a class="page-link text-dark" th:text="${views.totalPages}"></a></li>
                <li class="page-item">
                    <a class="page-link" th:if="${views.hasNext()}"
                       th:href="@{/customer/use-services(page=${views.number + 1})}">Next</a>
                </li>
            </ul>
        </div>
    <div class="row">
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th>Contract ID</th>
                <th>Customer Name</th>
                <th>Employee Name</th>
                <th>Service Name</th>
                <th>Service Price</th>
                <th>Deposit</th>
                <th>Attach Service</th>
                <th>Attach Service Price</th>
                <th>Total Quantity</th>
                <th>Total Money</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obj:${views}">
                <td th:text="${obj.contractId}"></td>

                <td th:each="cus:${customers}" th:if="${cus.id == obj.customerId}" th:text="${cus.name}"></td>

                <td th:each="emp:${employees}" th:if="${emp.id == obj.employeeId}" th:text="${emp.name}"></td>

                <td th:each="serv:${services}" th:if="${serv.id == obj.serviceId}" th:text="${serv.name}"></td>

                <td th:text="${obj.servicePrice}"></td>

                <td th:text="${obj.deposit}"></td>

                <td th:if="${obj.attachService != null }" th:text="${obj.attachService}"></td>
                <td class="text-danger" th:if="${obj.attachService == null }" th:text="${'Not Available'}"></td>

                <td th:if="${obj.attachServicePrice != null }" th:text="${obj.attachServicePrice}"></td>
                <td class="text-danger" th:if="${obj.attachServicePrice == null }" th:text="${'Not Available'}"></td>

                <td th:if="${obj.totalQuantity != null}" th:text="${obj.totalQuantity}"></td>
                <td class="text-danger" th:if="${obj.totalQuantity == null}" th:text="${'Not Available'}"></td>

                <td th:text="${obj.totalMoney}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>