<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Khách Hàng</title>
</head>
<body>
<h1>Danh sách khách hàng</h1>
<br>
<a href="/so-tiet-kiem">danh sách sổ tiết kiệm</a>
<br>
<a href="/khach-hang/create">Tạo mới khách hàng</a>
<br>
<br>
<table border="1">
    <tr>
        <th>STT</th>
        <th>Họ Tên</th>
    </tr>
    <tr th:each="khachHang , loop : ${khachHangList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${khachHang.tenKhachHang}"></td>
    </tr>
</table>
<p style="color: red" id="mess" th:if="${message}" th:text="${message}"></p>
</body>
<script>
    function setTime() {
        document.getElementById("mess").innerText = "";
    }

    setTimeout(setTime, 1000);
</script>
</html>