<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List PassBook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Add new Passbook
            </button>
        </div>

    </div>
    <div class="row">
        <div>
            <p id="testP"></p>
            <p id="testP2"></p>

            <form action="#">
                <input type="text" id="testInput" required>
                <input type="submit" value="submit">
            </form>
        </div>
        <table class="table">
            <thead class="table-dark">
            <th>No.</th>
            <th>Time Start</th>
            <th>Period</th>
            <th>Money</th>
            <th>Customer Name</th>
            <th>Action</th>
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>
    </div>
</div>


<!--Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add new PassBook</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="#">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Time Start </label>
                        <input type="date" class="form-control" id="timeStartAdd">
                        <p class="form-helper text-danger" id="timeStartAddError">a</p>
                    </div>
                    <div class="form-group">
                        <label>Period</label>
                        <input type="text" class="form-control" id="periodAdd">
                        <p class="form-helper text-danger" id="periodAddError">a</p>
                    </div>
                    <div class="form-group">
                        <label>Money</label>
                        <input type="text" class="form-control" id="moneyAdd">
                        <p class="form-helper text-danger" id="moneyAddError">a</p>
                    </div>
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text" class="form-control" id="customerNameAdd">
                        <p class="form-helper text-danger" id="customerNameAddError">a</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeBtnAdd">Close
                        </button>
                        <button type="submit" class="btn btn-primary" id="addBtn">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Passbook</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="deleteInfor"></p>
                <p id="deleteInforNameCustomer"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelDeleteModalBtn">No
                </button>
                <button type="button" class="btn btn-primary" id="deleteModalBtn">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit PassBook</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="#">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Time Start </label>
                        <input type="date" class="form-control" id="timeStartEdit">
                        <p class="form-helper text-danger" id="timeStartEditError">a</p>
                    </div>
                    <div class="form-group">
                        <label>Period</label>
                        <input type="text" class="form-control" id="periodEdit">
                        <p class="form-helper text-danger" id="periodEditError">a</p>
                    </div>
                    <div class="form-group">
                        <label>Money</label>
                        <input type="text" class="form-control" id="moneyEdit">
                        <p class="form-helper text-danger" id="moneyEditError">a</p>
                    </div>
                    <div class="form-group">
                        <label>Customer Name</label>
                        <input type="text" class="form-control" id="customerNameEdit">
                        <p class="form-helper text-danger" id="customerNameEditError">a</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeBtnEdit">Close
                        </button>
                        <button type="submit" class="btn btn-primary" id="editBtn">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    let idDelete = 0;
    let idEdit = 0;


    function resetFieldErrorAddModal() {
        $("#timeStartAddError").text("");
        $("#periodAddError").text("");
        $("#moneyAddError").text("");
        $("#customerNameAddError").text("");
    }

    $("#addBtn").click(function () {
        resetFieldErrorAddModal();

        let timeStartAdd = $("#timeStartAdd").val();
        let periodAdd = $("#periodAdd").val();
        let moneyAdd = $("#moneyAdd").val();
        let customerNameAdd = $("#customerNameAdd").val();
        let passBookDTO = {
            timeStart: timeStartAdd,
            period: periodAdd,
            money: moneyAdd,
            customer: {
                name: customerNameAdd
            }
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: "http://localhost:8080/passbook/create",
            data: JSON.stringify(passBookDTO),
            success: function (resultSuccess) {
                let error = new Map(Object.entries(resultSuccess));
                console.log(error);
                if (error.size !== 0) {
                    for (let [key, value] of error.entries()) {
                        if (key === "timeStart") {
                            $("#timeStartAddError").text(value);
                        } else if (key === "period") {
                            $("#periodAddError").text(value);
                        } else if (key === "money") {
                            $("#moneyAddError").text(value);
                        } else {
                            $("#customerNameAddError").text(value);
                        }
                    }
                } else {
                    location.reload();
                }

            },
            error: function (resultError) {
                $("#closeBtnAdd").click();
                alert("Fail to add");
            }
        });
    });

    $(document).ready(function (event) {
        let contentBody = ``;
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/passbook",
            success: function (resultSuccess) {
                resultSV = resultSuccess.content;
                for (let i = 0; i < resultSV.length; i++) {
                    contentBody += `
                    <tr>
                        <td>${(i + 1)}</td>
                        <td>${resultSV[i].timeStart}</td>
                        <td>${resultSV[i].period}</td>
                        <td>${resultSV[i].money}</td>
                        <td>${resultSV[i].customer.name}</td>
                        <td>
                            <button type="button" onclick="sendIdEdit('${resultSV[i].id}')" class="btn btn-danger launchEditModalBtn" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                            <button type="button" class="btn btn-warning"
                            onclick="doDelete('${resultSV[i].id}','${resultSV[i].customer.name}')" data-bs-toggle="modal" data-bs-target="#deleteModal">
                               Delete
                            </button>
                        </td>
                    </tr>
                    `;
                    $("#tableBody").html(contentBody);
                }
            }
        });
        // event.preventDefault();
    });

    function doDelete(id, customerName) {
        idDelete = id;
        document.getElementById("deleteInfor").innerText = "ID : " + id;
        document.getElementById("deleteInforNameCustomer").innerText = "Customer Name : " + customerName;
    }

    $("#deleteModalBtn").click(function () {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "DELETE",
            url: "http://localhost:8080/passbook/delete/" + idDelete,
            success: function (resultSuccess) {
                alert("Delete Success");
                location.reload();
            },
            error: function (resultError) {
                alert("fail to delete")
            }
        });
    });

    function sendIdEdit(id){
        idEdit = id ;
        console.log(idEdit +'id edit');
        // do something
    }
</script>
</html>